/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/*
/vendor/composer/*
/vendor/phpunit/*
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
/vendor/
